/* You can add global styles to this file, and also import other style files */

/**
 * Variables
 */
$custom-gradient: linear-gradient(87deg, #18171B  0, #103B61 100%) !important;

/**
 * Custom css
 */
.header-gradient-custom {
    background: $custom-gradient;
}

// p-dialog header
.p-dialog .p-dialog-header {
    background: $custom-gradient;
    color: white;
}

.col-12 {
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .md\:col-1 {
        width: 8.33333% !important;
    }

    .md\:col-2 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 16.66666% !important;
    }

    .md\:col-3 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 25% !important;
    }

    .md\:col-4 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 33.3333% !important;
    }

    .md\:col-6 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 50.0% !important;
    }

    .md\:col-7 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 58.3333% !important;
    }

    .md\:col-8 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 66.6666% !important;
    }

    .md\:col-9 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 75% !important;
    }

    .md\:col-10 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 83.3333% !important;
    }

    .md\:col-11 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 91.6666% !important;
    }

    .md\:col-12 {
        flex: 0 0 auto !important;
        padding: 0.5rem;
        width: 100% !important;
    }
}

// https://github.com/primefaces/primeng/issues/9741
.p-inputgroup p-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Spacing between rows in p-table
.p-datatable .p-datatable-tbody>tr>td {
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
}

p-table {
    width: 100%;
}

.space-between {
    justify-content: space-between;
    display: flex;
}

.p-component {
    font-size: 0.9rem;
}

/**
 * Min width
 */
.min-width-3 {
    min-width: 3rem;
    white-space: nowrap;
}

.min-width-5 {
    min-width: 5rem;
    white-space: nowrap;
}

.min-width-7 {
    min-width: 7rem;
    white-space: nowrap;
}

.min-width-9 {
    min-width: 9rem;
    white-space: nowrap;
}

.min-width-11 {
    min-width: 11rem;
    white-space: nowrap;
}

.min-width-13 {
    min-width: 13rem;
    white-space: nowrap;
}

.min-width-15 {
    min-width: 15rem;
    white-space: nowrap;
}

.min-width-17 {
    min-width: 17rem;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    .display-none-big-screen {
        display: none;
    }

    .no-left-margin {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 768px) {
    .display-none-small-screen {
        display: none;
    }
}

.navbar-header-logo {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .navbar-header-logo {
        display: none !important;
    }
}